body {
	background-color: #1E90FF;
	background-image: url("code2.jpg");
	background-size: 100%;
	z-index: 4;
}

.block1 {
	background: #FFD700;
   	margin-top: 20%;
   	margin-left: 35%;
   	margin-right: 35%;
   	height: 70px;
}

.reg {
	font-size: 150%;
	height: 80px;
	text-align: center;
}
